# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\sby\RL\AlphaZero_Gomoku_PyTorch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
